<h1>ngx-collapsible</h1>
<div ngxCollapsible [selected]="selected" [accordion]="accordion">

  <h2 collapsible-header="install">Install</h2>
  <p collapsible-content="install">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt pariatur consequuntur fugit laborum facilis maxime fugiat
    dolores officiis impedit, non dolorum voluptatem maiores vel dolorem repellendus id nemo? Commodi, nam!
  </p>

  <h2 collapsible-header="use">How to use</h2>
  <p collapsible-content="use">
    Ratione dolor inventore dolorum culpa error maxime unde ex, facere non et ea, similique sequi? Consequatur, sed aut incidunt
    quod maiores officia, tempora autem nam eligendi expedita quasi cupiditate tenetur!
  </p>

  <h2 collapsible-header="changelog">Changelog</h2>
  <p collapsible-content="changelog">
    Vel, voluptatem deleniti alias iure illo ab nihil assumenda autem rerum temporibus sunt animi corporis commodi voluptatum.
    Corrupti et laboriosam quidem officiis voluptates perferendis exercitationem! Modi reprehenderit libero pariatur iure.
  </p>

</div>

<button (click)="closeAll()">Close all</button>
<label>
  <input type="checkbox" (change)="onChange($event)" >
  Accordion
</label>